body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f6fbff; 
    color: #333;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 12%;
    background-color: #ffe5b4 ; 
}

.about-content {
    max-width: 900px;
    background-color: #dfffd6;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.about-content h2 {
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #253aa2; /* royal blue title */
    margin-bottom: 20px;
    text-align: center;
}

.about-content p {
    font-size: 1.08em;
    line-height: 1.9;
    color: rgb(78, 78, 78);
    margin-bottom: 25px;
    text-align: justify;
}

.highlight {
    color: #1976d2; /* medium blue accent */
    font-weight: 600;
}

.about-btn {
    display: block;
    margin: 30px auto 0;
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.05em;
    transition: all 0.3s ease;
}

.about-btn:hover {
    background-color: #0d47a1;
    transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
    .about-section {
        padding: 60px 8%;
    }

    .about-content {
        padding: 30px 25px;
    }

    .about-content h2 {
        font-size: 2em;
    }

    .about-content p {
        font-size: 1em;
    }
}

body, html {
    margin: 0; 
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100px;
    line-height: 80px;
    background-color: #051650;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    align-items: center;
    padding-right: 20px;
}
.nav-links {
    display: flex; 
    gap: 20px;
    align-items: center; 
}
.nav-links li {
    line-height: normal;
}
a{
    display: block;
    padding: 20px 20px;
    border-radius: 6px;
    color: antiquewhite;
    text-decoration: none;
}
a:hover {
    background-color: #FFD6A5;
    color: #051650;
}
.b{
    font-size: 40px;
    font-weight: bold;
    padding-left: 50px;
    color: #98ff98;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer {
background-color: #051650;
color: #ffffff;
text-align: center;
padding: 25px 15px;
font-family: Arial, sans-serif;
 }
.footer-content h3 {
margin: 0;
font-size: 1.3rem;
}


.footer-content p {
margin: 6px 0 0;
color: #d0dcff;
font-size: 0.95rem;
}


.footer-bottom {
margin-top: 10px;
padding-top: 10px;
font-size: 0.85rem;
color: #d0dcff;
}